* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html, body{
  width: 100%;
  overflow-x: hidden;
}


#navigation ul {
    list-style-type: none;
}

a{
  text-decoration:none;
}

